body {
    background-color: #1f2937;
    padding: 20px;
    border: 1px solid black;
}

.nav-container {
    color: #fff;
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
}

.logo img {
    border-radius: 50%;
    width: 60px;
    height: 60px;
}

.awesome {
    color: #fff;
}

.signup {
    color:#fff;
    background-color: rgb(62, 62, 211);
}

.awesome {
    display: flex;
    justify-content: space-between;
}
